# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
*.Rproj
*.RData

# RStudio files
.Rproj.user/
.Ruserdata

# image directories
/img

# data directories
/data/Data_BBSR
/data/Data_BKG
/data/Data_built
/data/Data_CLC12
/data/Data_EuroGeographics
/data/Data_GADM
/data/Data_sources
/data/DE_AQeReporting_2013-2015


# old material
/00_old

# other files
.Rbuildignore
dat.Positions.rds
DATA_MonitoringSites_DE.csv
gitCommands.txt
indRhineRuhr.rds

